#slideshow button {
    display: none;
}
#slideshow img{
    width: 100%;
    height: 100%;
    border-radius: 1.375rem;
    object-fit: cover;
}

#slideshow div{
    height: 100%;
}

#slideshow{
    width: 100%;
    height: 100%;
}

.react-slideshow-container > button > svg{
    display: none;
}

.active {
    margin-right: 1rem;
}

