#home h2{
    text-align: center;
    margin: 1.5rem 0;
}

#tiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home button{
    background-color: #FFA500;
    border: none;
    width: 264px;
    height: 47px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}