#tile{
    width: 12.05rem;
    height: 15.65rem;
    border-radius: 0.9375rem;
    background-image: url("../images/slideshow/dubai.jpg");
    background-position: center;
    color: #fff;
    text-align: center;
}

#tile p{
    font-size: 14px;
}