#header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#header{
    height: 3.5625rem;
    background-color: #fff;
    z-index: 3;
    box-shadow: -2px -2px 20px rgba(255, 165, 0, 25%);
    position: fixed;
    width: 100%;
}

.header{
    height: 100%;
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header li{
    /* margin-left: 2rem; */
    width: 80px;
    text-align: center;
}

.header h4{
    font-size: 2.25rem;
    color: #FFA500;
}

.header a{
    color: inherit;
    text-decoration: none;
}

.header a:focus{
    background-color: #FFA500;
    color: white;
    border-radius: 5px;
    padding: 4px;
}