#footer{
    /*height: 18.75rem;*/
    width: 100%;
    font-size: 0.8125rem;
}

.footer{
    /*height: 100%;*/
    width: 80%;
    margin: 0 auto;
    padding-top: 1.25rem;
    text-align: left;
    /*padding: 0.8125rem 0;*/
    border-top:1px solid#FFA500;
    border-bottom:1px solid#FFA500;

    display: flex;
    flex-direction: row;
}

.footer > div {
    width: 33.33%;
}

.footer h4{
    color: #FFA500;
    padding-bottom: 1.25rem;
}

.footer ul{
    list-style-type: none;
}

.footer li{
    padding-bottom: 1.125rem;
}

#copyright{
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}